asgiref==3.5.2
astroid==2.15.1
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
brotlipy==0.7.0
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
colorama==0.4.6
constantly==15.1.0
cryptography==39.0.1
daphne==4.0.0
dill==0.3.6
Django==4.1
docstring-to-markdown==0.12
flake8==6.0.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
mccabe==0.7.0
packaging==23.0
Pillow==9.4.0
platformdirs==3.2.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pydocstyle==6.2.3
pyflakes==3.0.1
pylint==2.17.1
PyMySQL==1.0.2
pyOpenSSL==23.0.0
PySocks==1.7.1
python-lsp-server==1.7.1
pytoolconfig==1.2.5
rope==1.7.0
selenium==3.141.0
service-identity==23.1.0
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.65.0
Twisted==22.10.0
twisted-iocpsupport==1.0.3
txaio==23.1.1
typing_extensions==4.7.1
tzdata==2021.1
urllib3==1.26.16
whatthepatch==1.0.4
win-inet-pton==1.1.0
zope.interface==6.0
